.blogpage{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;

    > section:first-child{
        display: flex;
        flex-direction: column;
        gap: 6px;
        
        h1{
            display: flex;
            align-items: baseline;
            gap: 10px;
            color: var(--neutral-700);

            > span{
                width: 40px;
                height: 3px;
                background-color: var(--blue-500);
            }
        }

        p{
            color: var(--neutral-600);
        }
    }

    > section:last-child ul{
        display: flex;
        flex-direction: column;

        li{
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 20px 0;
            border-top: 1px solid var(--neutral-200);
            list-style: unset;

            a{
                text-decoration: unset;

                h4{
                    color: var(--neutral-700);
                }
            }

            p{
                color: var(--neutral-600);
            }
        }
    }

    @media (min-width: 1280px) {
        margin-top: 48px;
    }
}