@use "./typography.scss";
@use "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    width: 100dvw;
    padding: 16px;
    background-color: var(--neutral-100);
    
    //Dark mode style
    &[data-theme="dark"]{
        background-color: var(--neutral-900);
    }
    
    @media (min-width: 767px) {
        padding: 20px 0;
    }
    
    @media (min-width: 1024px) {
        padding: 20px 0 32px 0;
    }
}