@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fira+Code:wght@300..700&display=swap');

$neutral-900: #1C1A19;
$neutral-800: #201E1D;
$neutral-700: #34302D;
$neutral-600: #4A4846;
$neutral-400: #C0BFBF;
$neutral-300: #DEDCDA;
$neutral-200: #EFEDEB;
$neutral-100: #FBF9F7;
$neutral-0: #FFFFFF;
$blue-200: #E1F1FE;
$blue-500: #93CEFC;
$blue-700: #75B0DE;
$blue-800: #5792C0;
$blue-900: #022B4A;
$green-200: #E9F5EA;
$green-500: #9DD3A9;
$green-700: #008531;
$green-900: #132A18;
$yellow-200: #FFF5E1;
$yellow-500: #FACC79;
$yellow-700: #EA9806;
$yellow-900: #4A3003;
$red-400: #F04438;
$red-600: #D92D20;

.textPresetDM{
    font-family: DM Sans, serif;
    font-size: 34px
};

.textPresetFiraCode{
    font-family: "Fira Code", serif;
    font-size: 34px
};

.text-preset-1{

};

.text-preset-2{

};

.text-preset-3{

};

.text-preset-4{

};

.text-preset-5{

};

.text-preset-6{

};

.text-preset-7{

};

.text-preset-7-SemiBold{

};

.text-preset-8{

};

.text-preset-8-italic{

};

.text-preset-9{

};

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100dvw;
    background-color: $neutral-100;

    //Dark mode style
    &[data-theme="dark"]{
        background-color: $neutral-900;
    }
}