:global(html.dark) .themeToogle{
    border: 1px solid var(--neutral-700);
    background-color: var(--neutral-900);

    img{
        filter: brightness(10);
    }
}

.themeToogle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--neutral-200);
    border-radius: 8px;
    background-color: var(--neutral-100);

    @media (min-width: 1024px) {
        cursor: pointer;
    }
}