---
import Button from '@components/__preact/button';
import Layout from '../layouts/Layout.astro';
import Input from '@components/__preact/input';
import Header from "@components/header/Header.astro";
---

<Layout>
	<Header />
	<Input client:load />
	<Button client:load>Primary Button</Button>
</Layout>
