---
import SocialMedias from "@components/socialMedias/SocialMedias.astro";
import style from "./style.module.scss";
import Layout from '@layouts/Layout.astro';
---

<Layout>
    <article class={style.homePage}>
        <section class={style.presentation}>
            <h1 class="text-preset-2">
                Hi, I'm Paulina 👋
                <span />
            </h1>
            <p class="text-preset-7">
                I'm on a journey to become a front-end web developer. 
                I love building little projects, trying out new coding techniques, 
                and sharing what I learn along the way. 
                When I'm not at my desk, you'll find me reading, hiking through the mountains, 
                or challenging myself on rock-climbing walls.
                <br /> <br />
                I started this blog to document my progress, keep myself accountable, 
                and hopefully inspire anyone else who's learning to code. 
                Welcome to my corner of the internet, and thanks for stopping by!
            </p>
            <SocialMedias />
        </section>

        <hr/>

        <section class={style.articles}>
            <h2 class="text-preset-2">
                Latest Articles
                <span />
            </h2>

            <a href="/blog" class="text-preset-6">
                View all articles
                <span />
            </a>
        </section>
    </article>
</Layout>