---
// import Button from '@components/__preact/button';
// import Input from '@components/__preact/input';
import Layout from '@layouts/Layout.astro';
---

<Layout>
</Layout>

<!-- <Input client:load />
<Button client:load>Primary Button</Button> -->