:global(html.dark) .mobileHeader{
    path{
        stroke: var(--neutral-0);
    }

    &.menuOpened{
        background-color: var(--neutral-0);

        path{
            stroke: var(--neutral-900);
        }
    }
}

.mobileHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: unset;

    path{
        stroke: var(--neutral-800);
    }

    &.menuOpened{
        border: 1px solid var(--neutral-700);
        background-color: var(--neutral-700);

        path{
            stroke: var(--neutral-0);
        }
    }

    @media (min-width: 767px) {
        display: none;
    }
}

:global(html.dark) .mobileNav{
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-700);

    a{
        border-bottom: 1px solid var(--neutral-700);
        color: var(--neutral-400) !important;

        &:last-child{
            border-bottom: 1px solid transparent;
        }

        &.active{
            color: var(--neutral-0) !important;
        }
    }
}

.mobileNav{
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--neutral-200);
    border-radius: 10px;
    background-color: var(--neutral-0);
    transform: translateY(-18px);
    animation: fadeDown 0.3s ease forwards;
    z-index: 999;

    a{
        padding: 6px 0;
        border-bottom: 1px solid var(--neutral-200);
        color: var(--neutral-600);
        text-decoration: unset;

        &:last-child{
            border-bottom: 1px solid transparent;
        }

        &.active{
            color: var(--neutral-900);
        }
    }

    @media (min-width: 767px) {
        display: none;
    }

    @keyframes fadeDown {
        0%{
            opacity: 0;
            transform: translateY(-18px);
        }

        100%{
            opacity: 1;
            transform: translateY(0px);
        }
    }
}