.socialMedias{
    display: flex;
    align-items: center;
    gap: 12px;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: 1px solid var(--neutral-200);
        border-radius: 10px;
    }

    @media (min-width: 1280px) {
        a:hover{
            border: 1px solid var(--neutral-300);
            background-color: var(--neutral-200);
        }
    }
}

:global(html.dark) .socialMedias{
    @media (min-width: 1280px) {
        a:hover{
            background-color: unset;
        }
    }
}