---
import ThemeToogle from "@components/__preact/themeToogle";
import MenuToogle from "@components/__preact/menuToogle";
---

<div>
    <MenuToogle client:load />
</div>
<div>
    <ThemeToogle client:load />
</div>