.footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;
    padding-bottom: 12px;

    hr{
        height: 1px;
        border: 1px solid var(--neutral-200);
    }

    div{
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav{
            display: flex;
            align-items: center;
            gap: 16px;

            a{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}