---
import '@styles/global.scss';
import style from './style.module.scss';
import Footer from '@components/footer/Footer.astro';
import Header from '@components/header/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Know everything about me, my career path, and sign in on my newsletter. All this and more in my personal blog.">
		<title>Personal Blog</title>
	</head>
	<body class={style.body}>
		<div>
			<Header />
			<main>
				<slot />
				<Footer />
			</main>
		</div>
	</body>
	<script>
		const theme = (() => {
			if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
				return localStorage.getItem('theme');
			};
			
			if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				return 'dark';
			};
			
			return 'light';
		})();
		
		if (theme === 'light') {
			document.documentElement.classList.remove('dark');
		} else {
			document.documentElement.classList.add('dark');
		}
		
		window.localStorage.setItem('theme', theme as string);
	</script>
</html>
