---
import '../styles/global.scss';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Know everything about me, my career path, and sign in on my newsletter. All this and more in my personal blog.">
		<title>Personal Blog</title>
	</head>
	<body>
		<main style={{display: "flex", flexDirection: "column", gap: "64px", width: "100%", maxWidth: "640px", margin: "0 auto"}}>	
			<slot />
		</main>
	</body>
</html>
