---
import '@fontsource-variable/dm-sans';
import dmSansWoff2 from '@fontsource-variable/dm-sans/files/dm-sans-latin-wght-normal.woff2?url';
import '@fontsource-variable/fira-code';
import '@styles/global.scss';
import Footer from '@components/footer/Footer.astro';
import Header from '@components/header/Header.astro';
import style from './style.module.scss';
import { ClientRouter } from 'astro:transitions';

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" as="font" type="font/woff2" href={dmSansWoff2} crossorigin="anonymous" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Know everything about me, my career path, and sign in on my newsletter. All this and more in my personal blog.">
		<title>Personal Blog</title>
		<ClientRouter />
	</head>
	<body class={style.body}>
		<div>
			<Header pathname={pathname} transition:persist />
			<main>
				<slot />
				<Footer />
			</main>
		</div>
	</body>
	<script is:inline>
		document.addEventListener('astro:page-load', () => {
			const theme = (() => {
				if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
					return localStorage.getItem('theme');
				};
				
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark';
				};
				
				return 'light';
			})();
			
			if (theme === 'light') {
				document.documentElement.classList.remove('dark');
			} else {
				document.documentElement.classList.add('dark');
			}
			document.addEventListener('astro:after-swap', theme);
			window.localStorage.setItem('theme', theme);
		})
	</script>
</html>
