.body{
    width: 100dvw;
    min-height: 100dvh;
    overflow-x: hidden;
    padding: 16px;
    background-color: var(--neutral-100);

    > div{
        display: flex;
        flex-direction: column;
        width: "100%";
        max-width: 640px;
        margin: 0 auto;

        > main{
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: calc(100% - 8px);
            padding: 0 10px;
            border: 1px solid #EFEDEB;
            background-color: #FFF;
            margin: 0 auto;
        }
    }
    
    @media (min-width: 767px) {
        padding: 20px 0;
    }
    
    @media (min-width: 1024px) {
        padding: 20px 0 32px 0;
    }
}